.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 12px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;    
    &:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    }
}

.btn__primary{
    background-color: var(--bs-red);
    color: var(--bs-white);
}
.btn__primaryOutline{   
    color: var(--bs-red);
    border: 1px solid var(--bs-red);
    &:hover{
        background-color: var(--bs-red);
        color: var(--bs-white);
    }
}


.btn__secondary{
    background-color: var(--bs-white);
    color: var(--bs-black);
}
.btn__secondaryOutline{   
    color: var(--bs-white);
    border: 1px solid var(--bs-white);
    &:hover{
        background-color: var(--bs-white);
        color: var(--bs-black);
    }
}

.btn__alt{
    background-color: var(--bs-dark-700);
    color: var(--bs-white);
}
.btn__altOutline{   
    color: var(--bs-white);
    border: 1px solid var(--bs-white);
    &:hover{
        background-color: var(--bs-white);
        color: var(--bs-black);
    }
}

