/*=============================
Banner
=============================*/
.hero{
    .card-hero{
      z-index: 1 ;
        position: relative;
        min-height: 100vh !important;
        &::after{
          content: '';
          background-color: rgba(0, 0, 0, 0.45) ;
          position: absolute;
          left: 0 ;
          right: 0 ;
          top: 0 ;
          bottom: 0 ;
          z-index: 0 ;
          display: block ;
        }
    }
    .swiper-button-next, 
    .swiper-button-prev{
        color: #fff;
    }
    .swiper-slide {
      text-align: center;
  
    }
  
    .swiper-slide img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  
    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 10;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: #fff;
      @media screen and (max-width:676px) {
        bottom: 50px;
      }
    }
  
    .autoplay-progress {
      svg {
        --progress: 0;
        position: absolute;
        left: 0;
        top: 0px;
        z-index: 10;
        width: 100%;
        height: 100%;
        stroke-width: 4px;
        stroke: #fff;
        fill: none;
        stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
        stroke-dasharray: 125.6;
        transform: rotate(-90deg);
        span{
          
        font-family: var(--bs-font-brand);
        }
      }
    }
  
  }
  .swiper-pagination-progressbar {
    top: auto !important;
    bottom: 0;
    .swiper-pagination-progressbar-fill{
      background-color: #8EC3B0;
    }
  }
  