/*=============================
Tabs
=============================*/
.tab__pills{
    h1{
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 0;
      color: var(--bs-white);;
      &::after{
        content: '';
        width: 70%;
        height: 1px;
        background-color:var(--bs-white);
        position: relative;
        display: block;
        margin-left: 25px;
        @media screen and (max-width:676px) {
          width: 40%;
        }
      }
    }
  }
  .tabContent{
    .show{
      display: block;
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    .hide{
      transition: opacity 200ms, display 200ms;
      transform: translateY(40px); opacity: 0;
      display: none;
      opacity: 0;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    } 