:root{
    //==== Color setting =======
    --bs-overlay:rgb(0,0,0,0.5);
    --bs-black:#010101;
    --bs-grey:#949cb0;
    --bs-red:#E50914;
    --bs-yellow:#ffac42;
    --bs-white:#fff;
    --bs-dark-900:#0e0d12;
    --bs-dark-800:#131722;
    --bs-dark-700:#0f172a;

    //===== font family setting ========
    --bs-font-brand:Brand;
    --bs-font-primary:'Pridi', serif;
    --bs-font-secondary:'Poppins', sans-serif;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

}

