.scrolled{  
  .header{
    transition: 1s;
    background-color: var(--bs-overlay);
  }
}
.header{
  transition: 2s;  
  .header__left{
    .brand{
      h1{
       font-family: var(--bs-font-brand);
       margin-bottom: 0;
      }
     }
     .search{
      svg{
        width: 15px;
        height: 15px;
        position: absolute;
        right: 10px;
        fill:var(--bs-white);
      }
    }
    .suggestion{
      max-height: 250px;
      overflow: auto;
      position: absolute;
      top: 45px;
      bottom: auto;
      background-color: var(--bs-overlay);
      z-index: 9999;
      overflow-y: scroll;
      &::-webkit-scrollbar {
          width: 10px;
        }       
        /* Track */
      &::-webkit-scrollbar-track {
          background: var(--bs-grey); 
        }
         
        /* Handle */
      &::-webkit-scrollbar-thumb {
          background: var(--bs-dark-900); 
        }
        
        /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
          background:  var(--bs-dark-900); 
      }
      .suggestion-link{
          border-bottom: 1px solid #bdbdbd;
          padding: 10px;
          a{
              color: var(--bs-white);
              text-decoration: none;
          }
      }
  }
  }
  .header__right{
    @media screen and (max-width:678px) {
      bottom: 0;
      position: fixed;
      width: 100%;
      padding: 10px 5px;
    }
    .menu{
      li{

        a{
          &.active{
            font-weight: bold;
          }
        }
      }
    }
  }
}
