.loading-skeleton {
    width: 100%;
    max-width: 400px;
    background-color: #f3f3f3;
    border-radius: 4px;
    padding: 16px;
  }
  
  .loading-skeleton__row {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .loading-skeleton__line {
    width: 100%;
    height: 12px;
    background-color: #e0e0e0;
    border-radius: 4px;
  }