/*=============================
trending section Home
=============================*/
.trending{
  background-color: var(--bs-dark-800);
    .tabPane__list{
      grid-column: span 2/span 2;
      @media screen and (max-width:676px) {
        margin-bottom:25px;
      }
      &:nth-child(1){
        grid-row: span 2/span 2 !important;
        background-color: #8a8585;
        .card{
          height: 100%;
          .thumbnail{
            height: 100%;
            overflow: hidden;
          }
        }
        img{
          height: 100%;
        }
      }
    }
  }

/*=============================
Popular section Home
=============================*/
.popularSection{
  .popularSection__title{
    position: relative;
    padding: 25px 0;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      height: 1px;
      width: 70px;
      background-color:  var(--bs-white);
    }
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      height: 1px;
      width: 90%;
      background-color:  var(--bs-white);
    }
  }
  .card__header{
    .label{
      background-color: var(--bs-yellow);
      color: var(--bs-white);
    }
  }
  .card__body{
    p{
      color: var(--bs-grey);
    }
    h1{
      color: var(--bs-white);
    }
  }
}

/*=============================
Highlight section Home
=============================*/
#highlight{
  max-height: 600px;
  overflow: hidden;
  .highlight__bgCover {
    &::after{
      content: "";
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 0;
      display: block;
    }      
  }
  .highlight__overview{
    max-width: 75%;
    .highlight__overviewGenre {
      span{
          background-color:var(--bs-red) ;
          padding: 5px;
          border-radius: 5px;
          margin-right: 10px;
          &:nth-child(odd){
              background-color: var(--bs-yellow);
          }
      }
    }
  }
  .highlight__label{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-family: var(--bs-font-primary);
    font-weight: 600;
    font-size: 18px;
  }
}