#upcoming{
    padding-top: 35px;
    padding-bottom: 35px;
    .box {
        flex: 1;
        overflow: hidden;
        transition: .5s;
        box-shadow: 0 20px 30px rgba(0,0,0,.1);
        line-height: 0;
        position: relative;
        @media screen and (max-width:676px) {
            display: block;
        }
        a{
            position: absolute;
            z-index: 9;
            width: 100%;
            left: 0;
            top: 0;
            height: 100%;
        }
    }      
    .box > img {
        width: 200%;
        height: 350px;
        object-fit: cover; 
        transition: .5s;
        object-fit: cover;
        object-position: top;
    }
    .box:hover { flex: 1 1 15%; }
    .box:hover > img {
        width: 100%;
        height: 350px;
    }       
}