@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&family=Pridi:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: Brand;
    src: url('../../assets/font/Grey-Font/GREY.ttf');
}
@font-face {
    font-family: Black_future;
    src: url('../../assets/font/Black-Future-Font/Black\ Future.otf');
}

h1,h2,h3,h4,h5{
    font-family:var(--bs-font-primary);
}
p,label,span,button{
    font-family: var(--bs-font-secondary);
}