/*=============================
About
=============================*/
.hero-container {
    position: relative;
    height: 50vh;
    background-image: url("https://www.wallpapertip.com/wmimgs/24-247109_best-movie-facebook-cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after{
      content: '';
      background-color: var(--bs-overlay);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 0;
      display: block;
    }
    h1{
      font-size: 3.5rem;
    }
    span{
      font-family: var(--bs-font-brand);
    }
  }
  .about {
    background-color: var(--bs-dark-800);
  }