.category{
    padding-top: 100px ;
    display: flex;
    position: relative;
    @media screen and (max-width:676px) {
       display: block;
    }
    .aside{
        flex: 0 0 auto;
        width: 15%;
        @media screen and (max-width:676px) {
            width: 100%;
            position: fixed;
            top: 80px;
            left: 0;
            z-index: 99;
            width: 100%;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }
        .catogory__Genres{
            ul{
                @media screen and (max-width:676px) {
                    display: flex;
                    overflow-x: scroll;
                    width: 100%;
                    gap: 10px;
                    white-space: nowrap;
                }
                li{
                    a{
                        display: flex;
                        align-items: center;
                        &:hover{
                            &::before{
                                width: 10%;
                                margin-right: 10px;
                            }
                        }
                        &.active{                           
                            &::before{
                                width: 10%;
                                transition: width 0.3s ease 0s;
                                content: '';
                                background-color: var(--bs-white);
                                height: 1px;
                                display: block;
                                margin-right: 10px;
                                @media screen and (max-width:676px) {
                                    display: none;
                                 }
                            }
                        }
                        &::before{
                            width: 0;
                            transition: width 0.3s ease 0s;
                            content: '';
                            background-color: var(--bs-white);
                            height: 1px;
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .content{
        flex: 0 0 auto;
        width: 85%;
        @media screen and (max-width:676px) {
            width: 100%;
            margin-top: 50px;
        }
        .snip1527 {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
            color: #ffffff;
            font-family: 'Lato', Arial, sans-serif;
            font-size: 16px;
            overflow: hidden;
            position: relative;
            text-align: left;
            width: 100%;
            img {
                max-width: 100%;
                vertical-align: top;
                position: relative;
            }
            figcaption {
                padding: 25px 20px 25px;
                position: absolute;
                width: 100%;
                bottom: 0;
                z-index: 1;
                border-bottom-right-radius: 0.375rem;
                border-bottom-left-radius: 0.375rem;
                &:before {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: rgb(0,0,0,0.5);
                    content: '';
                    opacity: 0.8;
                    z-index: -1;
                }
            }
            .date {
                background-color: #F5C611;
                border-radius: 50%;
                color: #fff;
                font-size: 18px;
                font-weight: 700;
                min-height: 35px;
                min-width: 45px;
                padding: 10px 0;
                position: absolute;
                right: 15px;
                font-weight: bold;
                text-align: center;
                outline: 3px solid;
                text-transform: uppercase;
                top: -25px;
                span {
                    display: block;
                }
            }
            h3 {
                display: inline-block;
                font-weight: 700;
                letter-spacing: -0.4px;
                margin-bottom: 5px;
            }
            p {
                font-size: 0.8em;
                line-height: 1.6em;
                margin-bottom: 0px;
            }
            a {
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                position: absolute;
                z-index: 1;
            }
            &:hover {
                img{
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
            .hover img {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
          
        .snip1527 * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all 0.25s ease;
            transition: all 0.25s ease;
        }
    }
}
.scrolled{
    .aside{
        @media screen and (max-width:676px) {
            background-color: var(--bs-overlay);
        }
    }
}
