#detailPage{
    .detailPage__hero{
        height: 75vh;
        overflow: hidden;
        position: relative;
        &::after{
            content: "";
            background-color: rgba(0, 0, 0, 0.7);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 0;
            display: block;
          }      
    }
    .detailPage__title{
        .detailPage__titleGenre {
            span{
                background-color:var(--bs-red) ;
                padding: 5px;
                border-radius: 5px;
                margin-right: 10px;
                &:nth-child(odd){
                    background-color: var(--bs-yellow);
                }
            }
        }
       
        
    }
    .detailPage__overview{
        .detailPage__overviewCover{
            button,
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover:not(a){
                    svg{
                        fill: var(--bs-black);
                    }
                }
                svg{
                    margin-right: 5px;
                    height: 15px;
                    width: 15pxpx;
                    fill: var(--bs-white);
                }
               
            }
        }
        .detailPage__overviewCast{
            li{
                text-align: center;
                width: 80px;
                img{
                    width: 80px;
                    height: 100px;
                    object-fit: cover;
                    object-position: center;
                }
                p{
                    padding: 0;
                    line-height: 20px;
                }               
            }
            button{
                width: 80px;
                height: 100px;  
                background-color: var(--bs-white); 
                padding: 10px;
                color: var(--bs-dark-900);
            }
        }
        .detailPage__overviewHeading{
            display: flex;
            align-items: center;
            &::after{
                content: '';
                width: 50px;
                height: 1px;
                background-color:var(--bs-white);
                margin-left: 10px;
            }
        }
    }
    .detailPage__review{
        padding: 25px;
        background-color: var(--bs-dark-700);
        max-height: 350px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 10px;
          }
          
          /* Track */
        &::-webkit-scrollbar-track {
            background: var(--bs-grey); 
          }
           
          /* Handle */
        &::-webkit-scrollbar-thumb {
            background: var(--bs-dark-900); 
          }
          
          /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background:  var(--bs-dark-900); 
        }
        .review__list{
            display: flex;
            justify-content: center;
            gap: 25px;
            margin-bottom: 20px;
            .review__listImg{
                width: 100%;
                border-radius: 100px;
                flex: 0 1 5%;
                img{
                    height: 50px;
                    width: 50px;
                    border-radius: 100px;
                    background-color: var(--bs-grey);
                }
            }
            .review__listOverview{
                flex: 0 1 95%;
                width: 100%;
                h1{
                    font-size: 18px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }

    .thumb__gallery{
        .swiper-button-next, 
        .swiper-button-prev{
            color: #fff;
            background-color: rgb(0,0,0,0.2);
            height: 35px;
            width: 35px;
            border-radius: 100px;
            z-index: 9999;
        }
        .swiper-button-prev:after, 
        .swiper-button-next:after{
            font-size : 18px;
        }
        .swiper {
            width: 100%;
            height: 300px;
            margin-left: auto;
            margin-right: auto;
          }
          .swiper-slide {
            background-size: cover;
            background-position: center;
          }
          
          .thumb_cover {
            height: 80%;
            width: 100%;
          }
          
          .mySwiper {
            height: 200px;
            box-sizing: border-box;
            padding: 10px 0;
          }
          
          .mySwiper .swiper-slide {
            width: 25%;
            height: 100%;
            opacity: 0.4;
          }
          
          .mySwiper .swiper-slide-thumb-active {
            opacity: 1;
          }
          
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
    }

   .similar{
        padding: 15px;
        background: rgb(0,0,0,0.2);
        border-radius: 10px;
        .label{
            background-color: var(--bs-yellow); 
        }
        .swiper-button-next, 
        .swiper-button-prev{
            color: #fff;
            background-color: rgb(0,0,0,0.2);
            height: 35px;
            width: 35px;
            border-radius: 100px;
            z-index: 9999;
        }
        .swiper-button-prev:after, 
        .swiper-button-next:after{
            font-size : 18px;
        }
        .similarrSection{
            align-items: center;
            justify-content: center;
            .similarrSection__title{
                flex: 0 0 auto;
                width: 20%;
                @media screen and (max-width:676px) {
                    width: 100%;
                }
            }
            .similarrSection_slider{
                flex: 0 0 auto;
                width: 80%;
                @media screen and (max-width:676px) {
                    width: 100%;
                }
                img{
                    height: 300px;
                }
                .swiper-slide{
                    opacity: 1;
                }
            }
        }
        .similarrSection__title{
            position: relative;
            padding: 25px 0;
            &::before{
            content: '';
            position: absolute;
            top: 0;
            height: 1px;
            width: 70px;
            background-color:  var(--bs-white);
            }
            &::after{
            content: '';
            position: absolute;
            bottom: 0;
            height: 1px;
            width: 90%;
            background-color:  var(--bs-white);
            }
        }
        
   }  
}