#login{
    background-color: var(--bs-dark-800);
    .panelLogin{
        .panelLogin__left{            
            display: flex;
            place-items: center;
            position: relative;
            &::after{
                content: '';
                background-color: rgb(0,0,0,0.45);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                z-index: 1;
            }
            h1{
                position: absolute;
                z-index: 2;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80%;
                &::before{
                    content: '';
                    width: 100px;
                    height: 5px;
                    background-color: #fff;
                    display: block;
                }
            }
        }
        .panelLogin__right{
            padding: 100px 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .formLogin{
                margin: 30px 0;
                input{
                    display: block;
                    margin-bottom: 15px;
                    color: var(--bs-black);
                    padding: 10px ;
                    width: 100%;
                    max-width: 300px;
                }
                button{
                    width: 100%;
                    max-width: 300px;
                }
            }
            .forgotPass{
                color: var(--bs-grey);
                &:hover{
                    text-decoration: underline;
                }
            }
            .LinkRegister{
                a{
                    &:hover{
                        text-decoration: underline;
                    }
                }
                
            }
            .TnC{
                margin-top: 100px;
                a{
                    color: var(--bs-grey);
                    font-size: 12px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}