/*=============================
Not Found
=============================*/
.notfound{
    text-align: center;
    padding: 180px 0;
    svg{
      margin: 0 auto;
      max-height: 500px;
      max-width: 500px;
    }
  }
  .left-glass {
    animation: color-change 2s infinite;
  }
  
  @keyframes color-change {
    0% { fill: #131722; }
    50% { fill: #ff6584; }
    100% { fill: #131722; }
  }
  .right-glass {
    animation: color-change 4s infinite;
  }
  
  @keyframes color-change {
    0% { fill: #ff6584; }
    50% { fill: #131722; }
    100% { fill: #ff6584; }
  }

