.wishlist{
    padding-top: 100px ;
    min-height: 100vh;
    .wishlist_blank{
        text-align: center;
        justify-content: center;
        margin: 100px 0;        
        svg{
            max-height: 350px;
            margin: 0 auto;
        }
    }
}